<div
  class="mb-2 flex flex-row rounded-l-xl rounded-r-xl shadow-lg max-md:w-full max-sm:w-full md:flex-col"
>
  <div
    id="activities-baro"
    [class]="moodColor"
    class="flex w-32 flex-shrink-0 flex-col justify-evenly rounded-l-xl max-sm:w-1/4 md:h-32 md:w-full md:rounded-b-none md:rounded-t-xl"
  >
    <span
      class="material-symbols-outlined select-none self-center"
      style="font-size: 50px"
    >
      {{ activitySymbol }}
    </span>
  </div>
  <div
    class="flex flex-grow flex-col justify-evenly rounded-r-xl bg-base-100 max-sm:w-12 md:rounded-b-xl md:rounded-t-none md:px-3"
  >
    <div
      class="flex-0 flex flex-row justify-between hover:cursor-pointer"
      (click)="handleShowDetails(activity.activityId)"
    >
      <div
        id="summary-description"
        class="mb-2 mt-4 w-44 max-sm:mx-4 max-sm:w-36 md:mb-4 md:flex-grow md:px-2"
      >
        <p class="truncate text-xl font-bold max-sm:text-base">
          {{ activity.title }}
        </p>
        <div class="text-sm font-light md:text-lg">
          <div class="inline">
            {{formatDuration(activity.duration.hour, "hour", "hours")}}
          </div>{{" "}}
          <div class="inline">
            {{formatDuration(activity.duration.minute, "min", "mins")}}
          </div>
        </div>
      </div>
      <span class="material-symbols-outlined mt-2 flex-grow-0 select-none self-center max-sm:mr-3 md:mt-8 md:w-10 md:text-3xl">
        arrow_forward_ios
      </span>
    </div>

    <div class="mb-1 flex flex-col justify-between max-sm:mr-2">
      <div
        id="brief-dateAndTime"
        class="mb-1 flex w-32 select-none justify-evenly self-end md:mx-2 md:w-fit md:self-start"
      >
        <p class="text-xs font-normal md:text-base">
          {{activity.date}}
        </p>
        <p class="text-xs font-thin italic text-slate-600 md:mx-1 md:text-base">
          at
        </p>
        <p class="text-xs font-normal md:text-base">
          {{activity.startTime}}
        </p>
      </div>
      <button
        (click)="handleEdit(activity.activityId)"
        class="z-10 mx-3 mb-3 flex h-9 w-9 items-center justify-center self-end rounded-full bg-primary hover:bg-[#1357B8]  max-md:hidden"
      >
        <span class="material-symbols-outlined text-white">edit</span>
      </button>
    </div>
  </div>
</div>
